/*
** Style guide for index html
*/
#outerbox {
    position: absolute;
    width: 500px;
    height: 500px;
    margin: 8% 5% 8% 5%;
}

#startTimer {
    background-color: purple;
    margin-left: 35%;
    padding: 15px 25px;
    font-size: 20px;
    color: white;
    border-radius: 12px;
    font-family: cursive;
}

#question-body {
    margin: 20px;
    font-family: cursive;
}

/*
** Style guide for the question html
*/
.time {
    float: right;
    font-family: cursive;
}

#highScoreList {
    float: left;
    font-family: cursive;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-family: cursive;
}

h2 {
    text-align: left;
    font-size: 20px;
    font-family: cursive;  
}

a {
    font-family: cursive;
}

p {
    text-align: center;
    font-family: cursive;
}

/*
** Style guide for the highscore html
*/
.container {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 8% 5% 8% 5%;
}

li {
    text-align: left;
    background-color: purple;
    border: 5px;
    margin: 3px;
    padding: 5px;
    width: auto;
    font-family: cursive;
    font-size: 20px;
}

button {
    background-color: purple;
    margin: 10px;
    padding: 5px;
    width: auto;
    font-family: cursive;
}