.button {
  background-color: blue;
  color: white;
  padding: 20px;
  margin: 100px;
}

#outerbox {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 2px solid blue;
}
#startTimer {
    background-color: purple;
    margin-left: 35%;
    padding: 15px 25px;
    font-size: 20px;
    color: white;
    border-radius: 12px;
    font-family: cursive;
}
#question-body {
    margin: 20px;
    font-family: cursive;
}

.time {
    float: right;
    font-family: cursive;
}

.high-score {
    float: left;
    font-family: cursive;
}

h1 {
    text-align: center;
    font-family: cursive;
}

p {
    text-align: center;
    font-family: cursive;
}

.container {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 2px solid blue;
}

li {
    text-align: left;
    background-color: purple;
    margin: 10px;
    padding: 5px;
    width: auto;
    font-family: cursive;
}

button {
    background-color: purple;
    margin: 10px;
    padding: 5px;
    width: auto;
    font-family: cursive;
}